/* CSS 작성 */

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

h2,
p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* header */
.header-title {
  margin-top: 10rem;
  margin-bottom: 4.8rem;
}

.header-logo {
  display: inline-block;
}

.header-logo img {
  width: 17.6rem;
  height: 4rem;
}

/* discovery-section */
.discovery-section {
  width: 102rem;
}

.discovery-header {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.discovery-title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: 0;
  color: var(--color-black);
}

.discovery-title span {
  position: relative;
  top: -0.3rem;
  margin: 0 1rem;
  color: var(--color-gray-600);
}

.discovery-desc {
  font-size: 1.6rem;
  line-height: 115%;
  letter-spacing: 0;
  color: var(--color-gray-600);
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.product-card {
  position: relative;
  height: 31rem;
}

.card-lg {
  width: 50.2rem;
}

.card-sm {
  width: 24.3rem;
}

.product-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 0.1rem solid var(--color-gray-500);
  outline: none;
}

.product-card:hover .product-link,
.product-card:focus-within .product-link {
  border-color: var(--color-blue-600);
}

.product-img {
  display: block;
}

.card-lg .product-img {
  width: 44.6rem;
  height: 27rem;
}

.card-sm .product-img {
  width: 20rem;
  height: 28.2rem;
}

.btn-arrow {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.2rem;
  height: 4.2rem;
  background-color: var(--color-opacity-20);
  outline: none;
}

.btn-arrow svg {
  position: relative;
}

.product-card:hover .btn-arrow,
.product-card:focus-within .btn-arrow {
  width: 11.2rem;
  height: 4.2rem;
  padding-left: 2rem;
  color: var(--color-white);
  background-color: var(--color-blue-600);
  transition: background-color 300ms ease-in-out;
}

.product-card:hover .btn-arrow svg,
.product-card:focus-within .btn-arrow svg {
  top: 0.15rem;
}

.product-card:hover .btn-arrow::before,
.product-card:focus-within .btn-arrow::before {
  content: '구매하기';
  font-size: 1.4rem;
  flex-shrink: 0;
}
